.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  &.sm {
    gap: 10px;
  }

  @for $i from 1 to 13 {
    .column-#{$i} {
      grid-column-end: span #{$i};
    }
  }

  @for $i from 1 to 4 {
    .row-#{$i} {
      grid-row-end: span #{$i};
    }
  }
}
